<h1>Financial Projector</h1>
<h2>An Ember.js Example from <em>Let’s Code: Test-Driven JavaScript</em></h2>

<nav>
	{{#link-to "test1"}}Original{{/link-to}}
	{{#link-to "test2"}}Redo{{/link-to}}
</nav>

{{outlet}}

<div className="footer">
<p>This application demonstrates Ember.js. The financial calculations are made up. Do not use it for real finances.</p>
</div>